<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UICollectionViewCellularDynamicLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>392145981CBF44EA0031624E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>392145B11CBF44EB0031624E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>392145BC1CBF44EB0031624E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
